<h1>About</h1>

<p>Baseball Heaven is your source for all the latest Major League Baseball news and standings.  Baseball Heaven also proudly allows users to post their thoughts on the latest baseball news!</p>
  