<h1>Teams</h1>

<center>
  <table border="1" cellpadding="0" cellspacing="0" height="750" width="900">
   <tr>
     <td colspan="2"><center>American League</center></td>
   </tr>
   <tr>
     <td colspan="2"><center>EAST</center></td>
    </tr>
   <tr>
     <td><center><img src="images/orioles.gif" width="35"></center></td>
     <td>Baltimore Orioles</td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/red-sox.gif" width="35"></center></td>
      <td>Boston Red Sox</td>
    </tr>
    <tr>
      <td><center><img src="images/yankees.jpg.jpeg" width="35"></center></td>
      <td>New York Yankees</td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/rays.jpeg" width="35"></center></td>
      <td>Tampa Bay Rays</td>
    </tr>
    <tr>
      <td><center><img src="images/bluejays.jpg" width="35"></center></td>
      <td>Toronto Blue Jays</td>
    </tr>
    <tr>
      <td colspan="2"><center>CENTRAL</center></td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/whitesox.jpeg" width="35"></center></td>
      <td>Chicago White Sox</td>
    </tr>
    <tr>
      <td><center><img src="images/indians.jpeg" width="35"></center></td>
      <td>Cleveland Indians</td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/tigers.jpeg" width="35"></center></td>
      <td>Detroit Tigers</td>
    </tr>
    <tr>
      <td><center><img src="images/royals.jpeg" width="35"></center></td>
      <td>Kansas City Royals</td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/twins.jpeg" width="35"></center></td>
      <td>Minnesota Twins</td>
    </tr>
    <tr>
      <td colspan="2"><center>WEST</center></td>
    </tr>
    <tr>
      <td><center><img src="images/angles.jpeg" width="35"></center></td>
      <td>Los Angeles Angels</td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/a's.jpeg" width="35"></center></td>
      <td>Oakland Athletics</td>
    </tr>
    <tr>
      <td><center><img src="images/mariners.jpg" width="35"></cetner></td>
      <td>Seattle Mariners</td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/rangers.jpeg" width="35"></center></td>
      <td>Texas Rangers</td>
    </tr>
    <tr>
      <td colspan="2"><center>National League</center></td>
    </tr>
    <tr>
      <td colspan="2"><center>EAST</central></td>
    </tr>
    <tr>
      <td><center><img src="images/braves.jpg" width="35"></center></td>
      <td>Atlanta Braves</td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/marlins.jpg" width="35"></center></td>
      <td>Florida Marlins</td>
    </tr>
    <tr>
      <td><center><img src="images/mets.jpg" width="35"></center></td>
      <td>New York Mets</td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/phillies.jpg.jpeg" width="35"></center></td>
      <td>Philadelphia Phillies</td>
    </tr>
    <tr>
      <td><center><img src="images/nationals.gif" width="35"></center></td>
      <td>Washington Nationals</td>
    </tr>
    <tr>
      <td colspan="2"><center>CENTRAL</td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/cubs.jpeg" width="35"></center></td>
      <td>Chicago Cubs</td>
    </tr>
    <tr>
      <td><center><img src="images/reds.jpeg" width="35"></center></td>
      <td>Cincinnati Reds</td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/astros.jpeg" width="35"></center></td>
      <td>Houston Astros</td>
    </tr>
    <tr>
      <td><center><img src="images/brewers.jpeg" width="35"></center></td>
      <td>Milwaukee Brewers</td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/pirates.jpeg" width="35"></center></td>
      <td>Pittsburgh Pirates</td>
    </tr>
    <tr>
      <td><center><img src="images/cards.jpeg" width="35"></center></td>
      <td>St. Louis Cardinals</td>
    </tr>
    <tr>
      <td colspan="2"><center>WEST</center></td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/dbacks.jpg" width="35"></center></td>
      <td>Arizona Diamondbacks</td>
    </tr>
    <tr>
      <td><center><img src="images/rockies.jpeg" width="35"></center></td>
      <td>Colorado Rockies</td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/dodgers.jpg" width="35"></center></td>
      <td>Los Angeles Dodgers</td>
    </tr>
    <tr>
      <td><center><img src="images/padres.jpeg" width="35"></center></td>
      <td>San Diego Padres</td>
    </tr>
    <tr bgcolor="DEDDD2">
      <td bgcolor="#fff"><center><img src="images/giants.jpeg" width="35"></center></td>
      <td>San Francisco Giants</td>
    </tr>
  </table>
      
    
   
    
      